html, body {
    margin: 0; 
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.65;
    padding-bottom: 1000;
}

/* Latihan 1 */

.container-satu {
    width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding-bottom: 20px;
    box-sizing: border-box;
    display: flex;
}

.kolom-utama {
    flex: 3;
    order: 2;
}

.sidebar-satu {
    flex: 1;
    order: 1;
}

.sidebar-dua {
    flex: 1;
    order: 3;
}

/* Latihan 2 */
.container-dua {
    width: 800px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.layanan {
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
}

.layanan.satu {
    background-color: rgb(100, 100, 255);
}

.layanan.dua {
    background-color:rgb(87, 255, 87);
}

.layanan.tiga {
    background-color: rgb(255, 104, 104);
}

