html, body {
    margin: 0; 
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.65;
    padding-bottom: 1000;
}

/* Latihan 1 */

.container-satu {
    width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding-bottom: 20px;
    box-sizing: border-box;
    display: flex;
}

.kolom-utama {
    flex: 3;
}

.sidebar-satu {
    flex: 1;
}

.sidebar-dua {
    flex: 1;
}